# API URL cua 3 nhom
# Local/LAN: dung IP may dang chay backend
# Render/host public: dung URL public cua backend

VITE_ROOM_BUILDING_API_URL=http://localhost:5285
VITE_STUDENT_CONTRACT_API_URL=http://localhost:5200
VITE_BILLING_MAINTENANCE_API_URL=http://localhost:5300

# Production example
# VITE_ROOM_BUILDING_API_URL=https://roombuildingservice-1ijx.onrender.com
