# API URL cua 3 nhom khi chay tren mang LAN
# Thay IP ben duoi bang IP may dang chay tung backend

VITE_ROOM_BUILDING_API_URL=http://192.168.24.194:5285
VITE_STUDENT_CONTRACT_API_URL=http://192.168.24.194:5200
VITE_BILLING_MAINTENANCE_API_URL=http://192.168.24.194:5300
